@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 5px;
  padding: 31px 0;

  @include lg {
    margin-left: 0px;
    padding-top: 29px;
  }

  @include md {
    background-color: rgba($color-gray-dark, 0.25);
    padding-top: 34px;
    margin-top: 0px;
    padding-bottom: 28px;
    @include box-shadow;
  }

  &__container {
    @extend %container;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    margin-top: -11px;
  }
}