@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {

  &__logo {

    &--link {
      font-weight: 400;
      font-size: 1.5rem;
      color: $color-white;
      text-decoration: none;
      letter-spacing: 0.22em;
      display: block;
      margin-top: 2px;

      @include lg {
        margin-left: 2px;
      }

      @include md {
        margin-left: 1px;
        margin-top: 2px;
      }
    }

    &--span {
      padding: 13px 1px 13px 4px;
      border: solid #d53d27 3px;
      line-height: 1.758rem;
      margin-left: -2px;

      @include lg {
        margin-left: 0
      }

      &-logo {
        margin-left: 5px;
      }
    }
  }
}