@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {

  &__logo {

    &--link {
      display: block;
      margin-top: 0;
      margin-left: 1.1px;
      text-decoration: none;
      letter-spacing: 5.7px;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 400;

      @include lg {
        margin-left: 2px;
      }

      @include md {
        margin-left: 1px;
        margin-top: 2px;
      }
    }

    &--span {
      margin-left: -2px;
      padding: 12px 0 13px 3px;
      border: solid #d53d27 3px;
      line-height: 1.758rem;

      @include lg {
        margin-left: 0
      }

      &-logo {
        margin-left: 5px;
      }
    }
  }
}