@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;
  min-height: 100vh;
  background-color: $color-primary;
  background-image: url("../../../../assets/images/img-header.png");
  padding: 150px 0;
  background-size: cover;
  background-position: 50% 50%;
  color: $color-white;
  display: grid;
  align-content: center;

  @include lg {

  }



  @include md {

  }

  @include sm {

  }
}

