$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #E5E5E53F;
$color-gray-dark: #44596e;
$color-black: #000000;
$color-white: #ffffff;
$color-btn: #575E74;


