@use "../../presets" as *;
@use "../../mixins" as *;
@use "../../common" as *;

.posts {
  @extend %container;


  &__title {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 48px;
    color: $color-primary;
    font-weight: 700;
    font-family: $font-header;
    margin-top: 103px;

    @include lg {
      font-size: 32px;
      letter-spacing: 3.2px;
      line-height: 40px;
      margin-top: 79px;
    }

    @include md {
      letter-spacing: 2.4px;
      font-size: 24px;
      line-height: 32px;
      margin-top: 57px;
      margin-left: 2px;
    }

    @include sm {
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
    "gr1 gr1 gr2 gr3"
    "gr4 gr5 gr6 gr6";
    margin-top: 56px;

    @include lg {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
    "gr1 gr1 gr2"
    "gr3 gr4 gr4"
    "gr5 gr5 gr6";
      margin-top: 43px;
    }

    @include md {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
    "gr1 gr2"
    "gr3 gr4"
    "gr5 gr6";
      margin-top: 28px;
      padding-left: 2px;
      padding-right: 1px;
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
    "gr1"
    "gr2"
    "gr3"
    "gr4"
    "gr5"
    "gr6";
      margin-top: 32px;
      padding-left: 2px;
      padding-right: 1px;
    }
  }
}

.post-first {
  grid-area: gr1;

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas:
      "p1"
      "t1";
    transition: 0.5s;
    background-color: #f2f2f2;
    height: 100%;
  }

  &__image {
    grid-area: p1;
    @include posts__image-block;
  }

  &__text {
    grid-area: t1;
    display: grid;
    align-content: center;
    margin-top: -5px;
    gap: 23px;
    padding: 45px;


    @include xl-lg {
      padding: 20px;
    }

    @include lg {
      padding: 25px;
      margin-top: -6px;
    }

    @include lg-md {
      padding: 20px;
    }

    @include md {
      gap: 15px;
      margin-top: 0;
    }

    @include md-sm {
      padding: 20px;
    }

    @include sm {
      margin-top: -5px;
      gap: 23px;
    }

    @include sm-xs {
      padding: 20px;
    }
  }

  &__item {
    @include posts__image;
  }

  &__title {
    @include posts__title--item;
    letter-spacing: 0.87px;
  }


  &__description {
    @include posts__description;
  }

  &:hover &__item {
    transform: scale(1.1);
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover &__link {
    background-color: #d8d8d8;
  }
}

.post-second {
  grid-area: gr2;

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "p2"
      "t2";
    background-color: #EEEEEE;
    transition: 0.5s;
    height: 100%;
  }

  &__image {
    grid-area: p2;
    @include posts__image-block;
  }

  &__text {
    grid-area: t2;
    display: grid;
    align-content: center;
    margin-top: -19px;
    gap: 18px;
    padding: 20px;

    @include xl-lg {
      padding: 15px;
      margin-top: 0;
    }

    @include lg {
      padding: 10px;
      margin-top: 2px;
    }

    @include lg-md {
      padding: 15px;
    }

    @include md {
      margin-top: 1px;
      padding: 32px;
    }

    @include md-sm {
      padding: 15px;
    }

    @include sm {
      margin-top: -19px;
    }
  }


  &__item {
    @include posts__image;
  }

  &__title {
    @include posts__title--item;
    letter-spacing: 0.9px;


    @include lg-md {
      padding-left: 0;
      padding-right: 5px;
    }


    @include lg {
      letter-spacing: 0.89px;
    }

    @include sm {
      margin-top: 22px;
    }
  }

  &__description {
    @include posts__description;
    padding-right: 3px;


    @include lg {
      padding-right: 1px;
    }

    @include md {
      padding-right: 4px;
    }

    @include sm-xs {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &:hover &__item {
    transform: scale(1.1);
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover &__link {
    background-color: #d8d8d8;
  }
}

.post-third {
  grid-area: gr3;

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas:
      "p3"
      "t3";
    background-color: #EEEEEE;
    transition: 0.5s;
    height: 100%;
  }

  &__image {
    grid-area: p3;
    @include posts__image-block;
  }

  &__text {
    grid-area: t3;
    display: grid;
    align-content: center;
    margin-top: 4px;
    gap: 21px;
    padding: 5px;

    @include xl-lg {
      padding: 15px;
      margin-top: 0;
    }

    @include lg {
      padding: 20px;
    }

    @include md {
      padding: 38px;
      margin-top: 4px;
    }

    @include sm {
      margin-top: 3px;
      gap: 41px;
    }

    @include lg-md {
      padding: 15px;
    }
  }

  &__item {
    @include posts__image;
  }

  &__title {
    @include posts__title--item;
    letter-spacing: 1px;

    @include lg {
      margin-left: 3px;
      letter-spacing: 0.88px;
    }

    @include sm {
      padding-right: 4px;
      letter-spacing: 0.8px;
    }
  }

  &__description {
    @include posts__description;
    padding-left: 0;
    padding-right: 3px;

    @include md {
      padding-right: 3px;
    }

    @include sm-xs {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &:hover &__item {
    transform: scale(1.1);
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover &__link {
    background-color: #d8d8d8;
  }
}

.post-fourth {
  grid-area: gr4;

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas:
      "p4"
      "t4";
    min-height: 550px;
    background-color: #EEEEEE;
    transition: 0.5s;
    height: 100%;
  }

  &__image {
    grid-area: p4;
    @include posts__image-block;
  }

  &__text {
    grid-area: t4;
    display: grid;
    align-content: center;
    margin-top: -18px;
    gap: 18px;
    padding: 15px;

    @include lg {
      margin-top: 3px;
    }

    @include md {
      margin-top: 0;
      padding: 35px;
    }

    @include sm {
      margin-top: 12px;
      padding: 26px;
      gap: 27px;
    }

    @include xl-lg {
      padding: 15px;
      margin-top: 0;
    }

    @include lg-md {
      padding: 20px;
    }
  }

  &__item {
    @include posts__image;
  }

  &__title {
    @include posts__title--item;
    letter-spacing: 1px;

    @include lg {
      letter-spacing: 0.88px;
    }
  }

  &__description {
    @include posts__description;
    padding-left: 0;
    padding-right: 3px;

    @include sm-xs {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &:hover &__item {
    transform: scale(1.1);
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover &__link {
    background-color: #d8d8d8;
  }
}

.post-fifth {
  grid-area: gr5;

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas:
      "p5"
      "t5";
    background-color: #EEEEEE;
    transition: 0.5s;
    height: 100%;
  }

  &__image {
    grid-area: p5;
    @include posts__image-block;
  }

  &__text {
    grid-area: t5;
    display: grid;
    align-content: center;
    margin-top: 4px;
    padding: 5px;
    gap: 20px;

    @include lg {
      margin-top: 2px;
      padding: 15px;
      gap: 17px
    }

    @include md {
      margin-top: 0;
      padding: 10px;
      gap: 15px;
    }

    @include sm {
      margin-top: 11px;
      padding: 22px;
      gap: 26px;
    }

    @include xl-lg {
      margin-top: 0;
      padding: 15px;
    }

    @include lg-md {
      padding: 20px;
    }
  }

  &__item {
    @include posts__image;
  }

  &__title {
    @include posts__title--item;
    letter-spacing: 1px;
    padding-left: 3px;
    padding-right: 3px;


    @include lg {
      letter-spacing: 0.88px;
    }

    @include md {

    }

    @include sm {

    }
  }

  &__description {
    @include posts__description;
    padding-left: 2px;
    padding-right: 5px;


    @include sm-xs {
      padding-right: 15px;
      padding-left: 15px;

    }
  }

  &:hover &__item {
    transform: scale(1.1);
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover &__link {
    background-color: #d8d8d8;
  }
}

.post-sixth {
  grid-area: gr6;

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "p6"
      "t6";
    min-height: 550px;
    background-color: #EEEEEE;
    transition: 0.5s;
    height: 100%;
  }

  &__image {
    grid-area: p6;
    @include posts__image-block;
  }

  &__text {
    grid-area: t6;
    display: grid;
    align-content: center;
    margin-top: 4px;
    padding: 38px;
    gap: 24px;

    @include xl-lg {
      padding: 20px;
      margin-top: 0;
    }

    @include lg-md {
      padding: 15px;
    }

    @include md-sm {

    }

    @include lg {
      padding: 10px;
      margin-top: 0;
      gap: 15px;
    }

    @include md {
      margin-top: 0;
      padding: 20px;

    }

    @include sm {
      margin-top: 4px;
      padding: 20px;
      gap: 24px;
    }
  }


  &__item {
    @include posts__image;
  }

  &__title {
    @include posts__title--item;
    letter-spacing: 0.88px;
  }

  &__description {
    @include posts__description;

    @include sm-xs {
      padding-right: 15px;
      padding-left: 15px;

    }
  }

  &:hover &__item {
    transform: scale(1.1);
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover &__link {
    background-color: #d8d8d8;
  }
}

.posts__actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 2px;

  @include lg {
    margin-left: 0;
  }

  @include md {
    margin-left: 0px;
  }

  @include sm {
    max-width: 532px;
    margin-left: 2px;
  }
}

.btn-post {
  padding-left: 2px;
  letter-spacing: 1.8px;

  @include sm {
    padding-left: 6px;
    letter-spacing: 1.8px;
    width: 100%;
  }
}


