@use "../../presets" as *;
@use "../../mixins" as *;
@use "../../common" as *;

.section-skills {
  padding: 10px;

  @include sm {
    padding: 20px;
  }

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "html html css markup"
    "web-design quality-assurance quality-assurance codding"
    "adaptability php seo codding";
  margin-bottom: 20px;

  @include lg {
    gap: 10px 10px;
    grid-template-areas:
        "html html css"
        "markup web-design web-design"
        "quality-assurance quality-assurance codding"
        "adaptability php codding"
        "adaptability seo seo";
    grid-template-columns: 1fr minmax(auto, 310px) 1fr;
  }

  @include md {
    grid-template-columns:  1fr 1fr;
    grid-template-areas:
      "html  css"
      "markup css"
      "web-design web-design"
      "quality-assurance codding"
      "quality-assurance adaptability"
      "php seo";
  }

  @include sm {
    grid-template-columns: 1fr;
    grid-template-areas:
      "html"
      "css"
      "markup"
      "web-design"
      "quality-assurance"
      "codding"
      "adaptability"
      "php"
      "seo";
    margin-bottom: 0;
    gap: 20px 10px;
  }


  @include height-690px-min {
    grid-auto-rows: calc(33.3333333vh - 13.3333333333333px);
  }

  @include height-690px {
    grid-auto-rows: calc(230px - 13.2px);
  }
}

.html {
  grid-area: html;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__link {
    @include skills__link;
    margin-top: 1px;
    margin-left: 0;
    letter-spacing: 2.1px;

    @include lg {

    }

    @include md {
      letter-spacing: 1.5px;
      font-size: 18px;
      font-weight: 700;
      margin-left: 0;
      margin-top: 2px;
    }

    @include sm {
      margin-top: 0;
      letter-spacing: 1.75px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.html:hover .html__overlay {
  opacity: 95%;
}

.html:hover .html__image {
  transform: scale(1.2);
}

.html:hover .html__link {
  color: $color-accent;
}

.css {
  grid-area: css;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2.1px;

    @include lg {
      margin-top: 1px;
      margin-left: 1px;
    }

    @include md {
      margin-left: -1px;
      letter-spacing: 1.5px;
    }
    @include sm {
      margin-top: 0;
      letter-spacing: 1px;
      margin-left: 2px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.css:hover .css__overlay {
  opacity: 95%;
}

.css:hover .css__image {
  transform: scale(1.2);
}

.css:hover .css__link {
  color: $color-accent;
}

.markup {
  grid-area: markup;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
      letter-spacing: 2px;

    @include lg {
      margin-top: 2px;
      margin-left: 4px;
      letter-spacing: 2.5px;
    }

    @include md {
      margin-top: 2px;
      margin-left: -1px;
      letter-spacing: 1.5px;
    }

    @include sm {
      margin-top: 0;
      letter-spacing: 1.4px;
      margin-left: 2px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.markup:hover .markup__overlay {
  opacity: 95%;
}

.markup:hover .markup__image {
  transform: scale(1.2);
}

.markup:hover .markup__link {
  color: $color-accent;
}

.web-design {
  grid-area: web-design;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2px;

    @include lg {
      margin-top: 0;
      margin-left: 3px;
      letter-spacing: 2.65px;
    }

    @include md {

      letter-spacing: 1.9px;
      font-size: 18px;
      margin-top: -20px;
      margin-left: 0;
    }

    @include sm {
      margin-top: 0;
      letter-spacing: 1.75px;
      margin-left: 2px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.web-design:hover .web-design__overlay {
  opacity: 95%;
}

.web-design:hover .web-design__image {
  transform: scale(1.2);
}

.web-design:hover .web-design__link {
  color: $color-accent;
}

.quality-assurance {
  grid-area: quality-assurance;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2px;

    @include lg {
      margin-top: 2px;
      margin-left: 3px;
      letter-spacing: 2.65px;
    }

    @include md {
      letter-spacing: 1.9px;
      font-size: 18px;
      margin-top: 3px;
      margin-left: 0;
    }

    @include sm {
      margin-top: 0;
      letter-spacing: 1.75px;
      margin-left: 3px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.quality-assurance:hover .quality-assurance__overlay {
  opacity: 95%;
}

.quality-assurance:hover .quality-assurance__image {
  transform: scale(1.2);
}

.quality-assurance:hover .quality-assurance__link {
  color: $color-accent;
}

.codding {
  grid-area: codding;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    margin-top: -1px;
    letter-spacing: 2px;

    @include lg {
      margin-top: 2px;
      margin-left: 3px;
      letter-spacing: 2.6px;
    }

    @include md {
      margin-top: 0;
      margin-left: -1px;
      letter-spacing: 1.4px;
    }
    @include sm {
      margin-top: 0;
      letter-spacing: 1.3px;
      margin-left: 2px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.codding:hover .codding__overlay {
  opacity: 95%;
}
.codding:hover .codding__image {
  transform: scale(1.2);
}

.codding:hover .codding__link {
  color: $color-accent;
}

.adaptability {
  grid-area: adaptability;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2px;

    @include lg {
      margin-top: 1px;
      margin-left: 3px;
      letter-spacing: 2.6px;
    }

    @include md {
      margin-top: 1px;
      margin-left: 0;
      letter-spacing: 1.4px;
    }

    @include sm {
      margin-top: 0;
      letter-spacing: 1.5px;
      margin-left: 2px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.adaptability:hover .adaptability__overlay {
  opacity: 95%;
}

.adaptability:hover .adaptability__image {
  transform: scale(1.2);
}

.adaptability:hover .adaptability__link {
  color: $color-accent
}

.php {
  grid-area: php;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2px;

    @include lg {
      margin-top: 1px;
      margin-left: 4px;
      letter-spacing: 3.3px;
    }

    @include md {
      margin-left: -1px;
      letter-spacing: 1.3px;
    }

    @include sm {
      margin-top: 2px;
      letter-spacing: 1.3px;
      margin-left: -21px;
    }

    @include xs {
      margin-left: 2px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.php:hover .php__overlay {
  opacity: 95%;
}

.php:hover .php__image {
  transform: scale(1.2);
}

.php:hover .php__link {
  color: $color-accent
}

.seo {
  grid-area: seo;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2px;

    @include lg {
      margin-top: 1px;
      margin-left: 3px;
      letter-spacing: 2.9px;
    }

    @include md {
      margin-left: -1px;
      letter-spacing: 1.3px;
    }
    @include sm {
      margin-top: 0;
      letter-spacing: 1.75px;
      margin-left: 3px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.seo:hover .seo__overlay {
  opacity: 95%;
}

.seo:hover .seo__image {
  transform: scale(1.2);
}

.seo:hover .seo__link {
  color: $color-accent;
}

.skills-btn__box {
  display: flex;
  justify-content: center;
  margin-left: 0;

  @include md {
   padding-left: 2px;
  }

  @include sm {
   max-width: 100%;
    margin-top: 20px;
  }

}

.skills__btn--item {
  min-height: 60px;
  letter-spacing: 1.8px;

  @include lg {
    padding-top: 7px;
    letter-spacing: 2px;
    min-height: 64px;
    padding-left: 3px;
  }

  @include md {
    min-height: 60px;
    padding-top: 0;
    padding-left: 2px;
  }

  @include sm {
    min-height: 60px;
    width: 100%;
    letter-spacing: 1.8px;
    padding-bottom: 2px;
  }
}